@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.App {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #262624;
}