@keyframes pulse {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}


.IconRandom {
    position: fixed;
    top: calc(50% - 245px);
    right: 20px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    z-index: 999;
    animation: pulse 2s infinite;
    align-items: center; 
    display: flex;
}

.IconRandom .RandomDrinkIcon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

    .IconRandom .RandomDrinkIcon {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;

    }

    .IconRandom:active {
        animation: none;
        transform: scale(0.9);
    }

}

.CloseButton {
    position: absolute;
    top: 20px; /* Przesunięcie w górę, aby był obok ikony */
    right: 17px; /* Przesunięcie w prawo, aby był obok ikony */
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.CloseButton img {
    width: 100%; /* Dostosowanie wielkości ikony X */
    height: 100%;
    position: center;
}

