.recipe-details-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-details {
    width: 100%;
    margin: 150px 50px 50px 50px;
    display: flex;
}

.recipe-details-content {
    width: 45%;
    flex: 1;
    margin-right: 50px;
}

.recipe-details-content h2 {
    font-size: 40px;
    color: var(--accent-color);
    margin: 0;
}

.recipe-details-content h3 {
    font-size: 24px;
    color: var(--main-color);
}

.recipe-details-content ul,
p {
    font-size: 16px;
    color: var(--container-color);
    list-style: none;
}

.recipe-details-content li {
    margin: 5px 0;
}

.recipe-image-container {
    width: 45%;
}

.recipe-image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    .recipe-details {
        flex-direction: column;
        margin: 100px 40px 40px 40px;
    }

    .recipe-details-content {
        width: 100%;
        margin-bottom: 10px;
    }

    .recipe-image-container {
        width: 100%;
    }
}