.recipe-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 150px; /* Margines na górze, aby uniknąć zasłaniania przez pasek nawigacyjny */
}

.recipe-details {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
}

.recipe-image-container {
    flex: 0 0 40%; /* 40% szerokości dla zdjęcia */
    text-align: center;
    margin-right: 20px;
}

.recipe-image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.recipe-details-content {
    flex: 1;
}

.recipe-details h2 {/* drink name */
    color: #F2E41D;
    font-size: 24px;
    margin: 10px;
    margin-bottom: 0px; 
}

.recipe-details h3 { /*Ingredients and Instructions */
    color: #F2E41D;
    font-size: 20px;
    margin-bottom: 10px;
}

.recipe-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.recipe-details ul li {
    margin-bottom: 5px;
    color: #262624;
    font-size: 16px;
    line-height: 1.5;
}

.recipe-details p {
    margin-bottom: 5px;
    color: #262624;
    font-size: 16px;
    line-height: 1.5;
}
