.search-by-ingredients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-by-ingredients-container .content {
    margin: 130px 50px 50px 50px;
}

.ingredients-section {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchResults,
.selected-ingredient-list {
    width: 100%;
    justify-content: center;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

.searchResult,
.selected-ingredient {
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    border: solid var(--container-color) 1px;
    color: var(--container-color);
}

.searchResult:hover {
    cursor: pointer;
    border: solid var(--main-color) 1px;
    color: var(--main-color);
}

.selected-ingredients-section {
    margin-top: 20px;
    width: 100%;
}

.selected-ingredients-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.selected-ingredient {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-ingredient button {
    margin-left: 8px;
    border: none;
    background-color: transparent;
    width: 16px;
}

.selected-ingredient button img {
    width: 100%;
    height: auto;
}

.selected-ingredient button:hover {
    cursor: pointer;
}

.searchIcon {
    display: flex;
    justify-content: center;
}

.searchIcon img {
    margin-top: 20px;
    width: 100px;
    height: auto;
}

.searchIcon img:hover {
    transform: scale(1.1);
}

.drinks {
    margin-top: 32px;
}

.drinks .content {
    margin-top: 0;
}

.drinks .content button {
    background-color: var(--accent-color);
    border: none;
    font-family: 'Poppins';
    font-weight: 500;
    color: var(--container-color);
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

.drinks .content button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .search-by-ingredients-container .content {
        margin-top: 75px;
    }

    .drinks h2 {
        margin-top: 50px;
        margin-bottom: 0;
    }

    .searchResult,
    .selected-ingredient {
        font-size: 8px;
        padding: 8px;
        margin: 5px;
    }

    .selected-ingredient button {
        margin-left: 5px;
        width: 8px;
    }
}