.search-by-ingredients-container {
    margin-top: 150px;
    background-color: #f0f0f0;
    padding: 30px;
    margin-left: 5%;
    width: 15%;
    border-radius: 10px;
    display: flex;
}

.ingredients-section,
.cocktails-section {
    flex: 1;
    padding: 20px;
    /* Dodajemy wypełnienie dla estetyki */
    margin-right: 20px;
    /* Dodajemy odstęp między segmentami */
}

.drinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.drinks .content {
    margin: 50px auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}